<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{css/navbar_partials.css}">
        <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
        <script th:src="@{/js/traveling.js}"></script>
        <link rel="stylesheet" th:href="@{/css/chartjs.css}">
<!--        <meta charset="UTF-8">-->
        <title>Final Budget</title>
    </head>
    <body>
<!--    <div class="hiddenDivRight"></div>-->
    <div class="page-wrapper">
        <div class="chart">
            <div class="chart__overlay">
                <div id="chartContainer" style="height: 500px; width: 100%;">

                </div>
<!--                <div id="dataFromUser2" th:attr="data-gas-tank=${trip.vehicle.gas_tank}"></div>-->
                <div id="dataFromUser" th:data-misc-Expense="${lastTrip.tripBudget.getMiscExpenses().get(1).getCost()}" th:data-budget="${lastTrip.tripBudget.maxBudget}" data-gas="250">
<!--                    <div th:each="tripMiscExp: ${lastTrip.tripBudget.getMiscExpenses()}">-->
<!--                                                <p th:text="${tripMiscExp.cost}"></p>-->
<!--                    </div>-->
                </div>

                <h1 class="totalBalance" th:text="${lastTrip.tripBudget.maxBudget}"></h1>
<!--                <div th:each="tripMiscExp: ${lastTrip.tripBudget.getMiscExpenses()}">-->
<!--                        <p th:text="${tripMiscExp.title}"></p>-->
<!--                        <p th:text="${tripMiscExp.cost}"></p>-->

<!--                </div>-->
            </div><!-- END OF CHART OVERLAY-->
            <div class="chart__content">
                <div class="hiddenDivRight"></div>
                <div class="hiddenDivLeft"></div>
            </div> <!-- END OF CHART CONTENT -->
            <div class="hiddenDivRight"></div>
            <div class="hiddenDivLeft"></div>
        </div><!-- END OF CHART-->
            <div id="listOfCaclulatorData" >
                <h3 class="displayMaxBudget" th:text="${lastTrip.tripBudget.maxBudget}">max budget supposed to be here</h3>
                <br>
        <!--        <h3 class="displayGasCost" th:text="${lastTrip. ...}"></h3>-->
                <br>
                <h3 class="displayTotalMiscExp" th:text="${lastTrip.tripBudget.}">total of misc exps</h3>
<!--                <h4 class="displayMiscExp" th:each="expense : ${lastTrip.tripBudget.miscExpenses}"></h4>-->
                <h4 th:each="tripMiscExp: ${lastTrip.tripBudget.getMiscExpenses()}">
                                            <p th:text="${tripMiscExp.title}"></p>
                                            <p th:text="${tripMiscExp.cost}"></p>
                </h4>
            </div> <!-- END OF LIST OF CALCULATOR DATA -->
    </div><!-- END OF PAGE WRAPPER -->
<!--    <div id="dataFromUser" data-misc-Expense="300" data-budget="8000" data-gas="250"></div>-->

    <button class="btn invisible" id="backButton">Back</button>
    <script th:src="@{/js/traveling.js}"></script>
    <script th:src="@{/js/chart.js}"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script th:src="@{/js/traveling.js}"></script>
    </body>
</html>


