<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head
    th:replace="partials/maps-head-partials.html :: head ('test-edit')">
</head>
<head>
    <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
<!--    <link rel="stylesheet" th:href="@{css/trip_planner.css}">-->
    <link rel="stylesheet" th:href="@{/css/trip_planner.css}">
    <link rel="icon" type="img/x-icon" th:href="@{/img/Travel-Bros-Logo.png}">
</head>
<body>
    <nav th:replace="partials/navbar-auth.html :: site-bar"></nav>
<!--    <h1 class="text-center" id="form-title">Edit Trips</h1>-->
    <div class="page-wrapper" style="height: 100%">
        <div class="x-container">
            <div class="x-row"> <!-- row 1 -->

                <div class="row"> <!-- row 2 -->
                    <div class="inputForm col-xxl-6 col-md-12">
                        <div class="form__title">
                            <h1 class="form__title-htag"> Let's Edit your Trip! </h1>
                        </div>
<!--                     The Div that allows f -->
                        <div style="display: none" th:action="@{|/trips/${id}/edit|}" >
                        <p id="startingLocation" th:text="${trip.startPoint}"></p>
                        <p id="endingLocation" th:text="${trip.endPoint}"></p>
                        </div>

                        <form th:method="post" th:action="@{|/trips/${id}/edit|}" th:object="${trip}" th:if="${currentUser.userVehicles.size() > 0}">
                            <label for="budget">Enter your Budget:</label>
                            <input th:value="${tripBudget.id}" th:field="${tripBudget.maxBudget}" type="text" id="budget" name="budget">
                            <br>
                            <label for="startLocation">Start Location:</label>
                            <input th:field="${trip.startPoint}" type="text" id="startLocation" name="fname">
                            <br>
                            <label for="endLocation">End Location:</label>
                            <input th:field="${trip.endPoint}" type="text" id="endLocation" name="fname">
                            <br>
                            <button class="button-form button-1" type="button"  id="planYourTrip">Your trip</button>
                            <br>
                            <select name="user-car" id="user-car-select" th:field="${trip.vehicle}"  th:if="${currentUser.userVehicles.size() > 0}">
                                <option
                                        th:each="vehicle : ${currentUser.userVehicles}"
                                        th:value="${vehicle.id}"
                                        th:text="${vehicle.make}">
                                </option>
                            </select>
                            <br>
                            <label for="numberOfPeople">Number of people</label>
                            <input name="numPpl" class="splitAmount" min="1" max="100" type="number" id="numberOfPeople" th:field="${trip.numPpl}">
                            <br>

                            <div>
                                <div th:field="${miscExpense.title}" id="misc-expense-container">



                                </div>
<!--                                <button type="button" id="add-expense">Add other expenses</button>-->
                                <button class="button-form button-2" type="button" id="add-expense">&plus; Add other expenses</button>

                            </div>


<!--                            <button type="button"  id="planYourTrip">Your trip</button>-->

                            <br>
                            <label for="totalDistance"> Distance Traveled</label>
                            <input th:field="${trip.distance}" type="text" id="totalDistance" name="fname">
                            <br>
                            <button class="button-form" type="submit" value="Submit" id="submit-to-calculator-btn">Make Your Trip!</button>
                        </form>
                    </div>
                    <!-- END OF inputForm -->

                    <!-- google map canvas view -->
                    <div class="x-img-background-2 col-xxl-6 col-md-12">
                        <div class="googleMap"style="height: 50vh;" id="map"></div>
                        <div id="distance">
                            <h3 id="yourTripDistance"></h3>
                            <h3 id="yourTravelDistance"></h3>
                        </div>
                    </div>
                    <!-- END OF COL FOR GOOGLE MAPS-->
                </div>
                <!-- End OF ROW 2 -->
            </div>
            <!-- END OF ROW -->
        </div>
        <!-- END OF CONTAINER -->
    </div>
    <!-- END OF PAGE-WRAPPER -->
<div th:replace="partials/maps-scripts-partials :: maps-scripts"></div>
</body>
</html>