<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('test-edit')">
</head>
<body>
<nav th:replace="partials/navbar_partials.html :: site-bar"></nav>

<main>
    <h1 class="text-center" id="form-title">Edit Trips</h1>
    <div class="form-wrapper">
        <form th:method="post" th:action="@{|/trips/${id}/edit|}" th:object="${trip}">



            <label for="budget">Enter your Budget:</label>
            <input th:field="${trip.tripBudget}" type="text" id="budget" name="budget"><br><br>

            <label for="startLocation">Start Location:</label>
            <input th:field="${trip.startPoint}" type="text" id="startLocation" name="fname"><br><br>

            <label for="endLocation">End Location:</label>
            <input th:field="${trip.endPoint}" type="text" id="endLocation" name="fname"><br>
            <button type="button"  id="planYourTrip">Your trip</button>
            <br>

            <label for="totalDistance"> Distance Traveled</label>
            <input th:field="${trip.distance}" type="text" id="totalDistance" name="fname"><br><br>

            <button type="submit" value="Submit" id="submit-btn">Make Your Trip!</button>
        </form>

        <div style="height: 100%; flex-grow: 6">
            <div id="map" ></div>
            <div id="distance">
                <h3 id="yourTripDistance"></h3>
                <h3 id="yourTravelDistance"></h3>
            </div>
        </div>
<!--        <form th:action="@{|/profile/${id}/edit|}" th:method="post" class="w-100 mx-auto" th:object="${trip}">-->
<!--            <div class="w-100">-->
<!--                <label for="tripBudget" class="form-label">Budget</label>-->
<!--                <input th:field="*{tripBudget}" id="tripBudget" name="tripBudget" type="text" class="form-control w-100 shadow-none focus-field" autocomplete="off">-->
<!--            </div>-->
<!--            <div class="w-100">-->
<!--                <label for="startPoint" class="form-label">Start Point: </label>-->
<!--                <textarea th:field="*{startPoint}" id="startPoint" name="startPoint" rows="1" class="form-control w-100 shadow-none"></textarea>-->
<!--            </div>-->
<!--            <div class="w-100">-->
<!--                <label for="endPoint" class="form-label">End Point: </label>-->
<!--                <textarea th:field="*{endPoint}" id="endPoint" name="endPoint" rows="1" class="form-control w-100 shadow-none"></textarea>-->
<!--            </div>-->
<!--            <div class="w-100 mt-4">-->
<!--                <input type="submit" value="Submit" class="form-control w-100 shadow-none" id="btn">-->
<!--            </div>-->
<!--        </form>-->
    </div>

</main>

<script
        async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyBD6bONTHh3O1h_nspMirxxFCkXp13j9QI&callback=initMap" >
</script>
<div th:replace="partials/scripts-partials.html :: scripts"></div>
</body>
</html>