<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta charset="UTF-8">
    <title>Google Maps</title>
    <link rel="stylesheet" th:href="@{/css/google_maps.css}">
    <script src="https://unpkg.com/@googlemaps/js-api-loader@1.0.0/dist/index.min.js"></script>
    <script th:src="@{/js/google_maps_api.js}"></script>

<!--    <script src="/js/google_maps_api.js"></script>-->
</head>
<body>

<!-- This is the div for out Google Maps -->
<!-- we nee to have the container to have hieght or the map will not show -->

<div class="container">
    <!-- this div is so then we can flex our map -->

    <div>
        <h1> Let's plan your Trip! </h1>
    </div>
    <div class="flex-container" style=" display: flex; flex-direction: row; ">

        <!-- this div is for our inputs  -->
        <div style="flex-grow: 6">

<!--            <form onsubmit="return false" th:method="post" th:action="@{/trips/testing}" th:object="${createTrip}">-->
            <form th:method="post" th:action="@{/trips/testing}" th:object="${createTrip}">



                <label for="budget">Enter your Budget:</label>
                <input th:field="${createTrip.tripBudget}" type="text" id="budget" name="budget"><br><br>

                <label for="startLocation">Start Location:</label>
                <input th:field="${createTrip.startPoint}" type="text" id="startLocation" name="fname"><br><br>

                <label for="endLocation">End Location:</label>
                <input th:field="${createTrip.endPoint}" type="text" id="endLocation" name="fname"><br>
                <button type="button"  id="planYourTrip">Your trip</button>
                <br>

                <label for="totalDistance"> Distance Traveled</label>
                <input th:field="${createTrip.distance}" type="text" id="totalDistance" name="fname"><br><br>

                <button type="submit" value="Submit" id="submit-btn">Make Your Trip!</button>
            </form>

        </div>

        <div style="height: 100%; flex-grow: 6">
            <div id="map" ></div>
            <div id="distance">
                <h3 id="yourTripDistance"></h3>
                <h3 id="yourTravelDistance"></h3>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- We need this in order to use the map with our api key -->
<script
        async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyBD6bONTHh3O1h_nspMirxxFCkXp13j9QI&callback=initMap" >
</script>
<!--<script src="/js/google_maps_api.js"></script>-->
<script th:src="@{/js/google_maps_api.js}"></script>
<script th:src="@{/js/edit.js}"></script>
</body>
</html>
