<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials :: head ('Trip Planner')">
</head>
    <body>
    <div class="page-wrapper" style="height: 100%">
        <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
        <div class="container">
            <div class="row">
                <!-- this div is so then we can flex our map -->
                <div>
                    <h1> Let's plan your Trip! </h1>
                </div>
                <div class="row form-row">
                    <div class="flex-container" style=" display: flex; flex-direction: row; ">
                        <!-- this div is for our inputs  -->
                        <div class="inputForm col-6 col-sm-6">
                            <!--            <form onsubmit="return false" th:method="post" th:action="@{/trips/testing}" th:object="${createTrip}">-->
                            <form th:method="post" th:action="@{/trips/create}" th:object="${createTrip}">
                                <label for="budget">Enter your Budget:</label>
                                <input th:field="${createTrip.tripBudget}" type="text" id="budget" name="budget">
                                <br>
                                <label for="startLocation">Start Location:</label>
                                <input th:field="${createTrip.startPoint}" type="text" id="startLocation" name="fname">
                                <br>
                                <label for="endLocation">End Location:</label>
                                <input th:field="${createTrip.endPoint}" type="text" id="endLocation" name="fname">
                                <br>
                                <button type="button"  id="planYourTrip">Your trip</button>
                                <br>
                                <label for="totalDistance"> Distance Traveled</label>
                                <input th:field="${createTrip.distance}" type="text" id="totalDistance" name="fname">
                                <br>
                                <button type="submit" value="Submit" id="submit-btn">Make Your Trip!</button>
                            </form>
                        </div><!-- END OF inputForm -->
                    </div><!-- END OF form-row -->
                    <div class="col-6 col-sm-6" style="height: 50%; flex-grow: 6">
<!--                        <div style="height: 100%; flex-grow: 6">-->
                            <div style="height: 100%;" id="map" ></div>
                            <div id="distance">
                                <h3 id="yourTripDistance"></h3>
                                <h3 id="yourTravelDistance"></h3>
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div><!-- END OF ROW -->
        </div><!-- END OF CONTAINER -->
    </div><!-- END OF PAGE-WRAPPER -->
    <!-- This is the div for out Google Maps -->
    <!-- we need to have the container to have height or the map will not show -->

<!--    <div class="container">-->
<!--        &lt;!&ndash; this div is so then we can flex our map &ndash;&gt;-->

<!--        <div>-->
<!--            <h1> Let's plan your Trip! </h1>-->
<!--        </div>-->
<!--        <div class="flex-container" style=" display: flex; flex-direction: row; ">-->

<!--            &lt;!&ndash; this div is for our inputs  &ndash;&gt;-->
<!--            <div style="flex-grow: 6">-->

<!--    &lt;!&ndash;            <form onsubmit="return false" th:method="post" th:action="@{/trips/testing}" th:object="${createTrip}">&ndash;&gt;-->
<!--                <form th:method="post" th:action="@{/trips/testing}" th:object="${createTrip}">-->



<!--                    <label for="budget">Enter your Budget:</label>-->
<!--                    <input th:field="${createTrip.tripBudget}" type="text" id="budget" name="budget"><br><br>-->

<!--                    <label for="startLocation">Start Location:</label>-->
<!--                    <input th:field="${createTrip.startPoint}" type="text" id="startLocation" name="fname"><br><br>-->

<!--                    <label for="endLocation">End Location:</label>-->
<!--                    <input th:field="${createTrip.endPoint}" type="text" id="endLocation" name="fname"><br>-->
<!--                    <button type="button"  id="planYourTrip">Your trip</button>-->
<!--                    <br>-->

<!--                    <label for="totalDistance"> Distance Traveled</label>-->
<!--                    <input th:field="${createTrip.distance}" type="text" id="totalDistance" name="fname"><br><br>-->

<!--                    <button type="submit" value="Submit" id="submit-btn">Make Your Trip!</button>-->
<!--                </form>-->

<!--            </div>-->
<!--            <div style="height: 100%; flex-grow: 6">-->
<!--                <div id="map" ></div>-->
<!--                <div id="distance">-->
<!--                    <h3 id="yourTripDistance"></h3>-->
<!--                    <h3 id="yourTravelDistance"></h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!-- We need this in order to use the map with our api key -->
    <script
            async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyBD6bONTHh3O1h_nspMirxxFCkXp13j9QI&callback=initMap" >
    </script>
    <!--<script src="/js/google_maps_api.js"></script>-->
    <script th:src="@{/js/google_maps_api.js}"></script>
    <script th:src="@{/js/edit.js}"></script>
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
    </body>
</html>
