<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/maps-head-partials.html :: head ('Trip Planner')">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/trip_planner.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_auth.css}">
</head>
<!--<head th:replace="partials/head-partials"></head>-->

    <body>
    <div class="page-wrapper" style="height: 100%">
    <nav th:replace="partials/navbar-auth.html :: site-bar"></nav>
        <div class="x-container">
            <div class="x-row"> <!-- row 1 -->

            <div class="row"> <!-- row 2 -->
                <div class="inputForm col-xxl-6 col-md-12">
                    <div class="form__title">
                        <h1 class="form__title-htag"> Let's plan your Trip! </h1>
                    </div>
                    <form id="create-trip-form" th:method="post" th:action="@{/trips/create}" th:object="${createTrip}" th:if="${currentUser.userVehicles.size() > 0}">
                        <label for="budget">Enter your Budget:</label>
                        <input th:value="${tripBudget.id}" th:field="${tripBudget.maxBudget}" type="text" id="budget" name="budget" required>
                        <br>
                        <label for="startLocation">Start Location:</label>
                        <input th:field="${createTrip.startPoint}" type="text" id="startLocation" name="fname" required>
                        <br>
                        <label for="endLocation">End Location:</label>
                        <input th:field="${createTrip.endPoint}" type="text" id="endLocation" name="fname" required>
                        <br>
                        <button class="button-form button-1" type="button"  id="planYourTrip">Your trip</button>
                        <br>
                        <select name="user-car" id="user-car-select" th:field="${createTrip.vehicle}"  th:if="${currentUser.userVehicles.size() > 0}" required>
                            <option
                                    th:each="vehicle : ${currentUser.userVehicles}"
                                    th:value="${vehicle.id}"
                                    th:text="${vehicle.make}">
                            </option>
                        </select>

                        <br>
                        <label for="numberOfPeople">Number of people</label>
                        <input name="numPpl" class="splitAmount" min="1" max="100" type="number" id="numberOfPeople" th:field="${createTrip.numPpl}" required>
                        <br>

                        <div>
                            <div th:field="${miscExpense.title}" id="misc-expense-container">
                            </div>
                        <button class="button-form button-2" type="button" id="add-expense">&plus; Add other expenses</button>


                        </div>


                        <br>
                        <label for="totalDistance"> Distance Traveled</label>
                        <input th:field="${createTrip.distance}" type="text" id="totalDistance" name="fname" required>
                        <br>
                        <button class="button-form" type="submit" value="Submit" id="submit-to-calculator-btn" disabled>Make Your Trip!</button>
                    </form>
                </div><!-- END OF inputForm -->
                <div class="x-img-background col-xxl-6 col-md-12">
                    <div class="googleMap"style="height: 50vh;" id="map"></div>
                    <div id="distance">
                        <h3 id="yourTripDistance"></h3>
                        <h3 id="yourTravelDistance"></h3>
                    </div>
                </div><!-- END OF COL FOR GOOGLE MAPS-->
                </div> <!-- End OF ROW 2 -->
            </div><!-- END OF ROW -->
        </div><!-- END OF CONTAINER -->
    </div><!-- END OF PAGE-WRAPPER -->
    <!-- This is the div for out Google Maps -->
    <!-- we need to have the container to have height or the map will not show -->
    <!-- We need this in order to use the map with our api key -->

    <script th:replace="partials/maps-scripts-partials :: maps-scripts"></script>

    </body>
</html>
