<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <!-- CSS only -->
    <!-- favicon -->
<body>

<!--        Footer Section-->
<div th:fragment="footer" th:remove="tag">
    <div  class="app__footer section__padding">

        <div class="app__footer-links">
            <div class="app__footer-links_contact">
                <h1 class="app__footer-headtext">Contact Us</h1>
                <p class="p__opensans"> 600 Navarro St #300, San Antonio, TX 78205</p>
                <p class="p__opensans">(210)-802–7289</p>
            </div>
            <div class="app__footer-links_logo">
                <img th:src="@{img/Travel-Bros-Big-Logo.png}">
                <p class="p__opensans">"The best way to find yourself is to lose yourself in the service of others.”</p>
                <div class="app__footer-links_icons">
                    <!--                                <FiFacebook />-->
                    <!--                                <FiTwitter />-->
                    <!--                                <FiInstagram />-->
                </div>
            </div>
            <div class="app__footer-links_work">
                <h1 class="app__footer-headtext">Meet the team</h1>
                <p class="p__opensans">Monday-Friday:</p>
                <p class="p__opensans">08:00 am - 12:00am</p>
                <p class="p__opensans">Saturday-Sunday:</p>
                <p class="p__opensans">07:00am - 11:00pm</p>
            </div>
        </div>

        <div class="footer__copyright">
            <p class="p__opensans">2022 Travel Bros. All Rights reserved.</p>
        </div>
    </div>
</div>


</body>
</html>