<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <!-- favicon -->
    <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/navbar_partials.css}">
    <link rel="stylesheet" th:href="@{/css/global_travel.css}">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{/css/splash_page.css}">
</head>
<body>
<div class="line-container">
    <svg width="800" height="2094" viewBox="0 0 645 2094" fill="none" preserveAspectRatio="xMidYMax meet" >
        <path d="M639 0V175C639 349.798 497.298 491.5 322.5 491.5V491.5C147.702 491.5 6 633.202 6 808V899.5V899.5C6 1010.23 95.7669 1100 206.5 1100H429.75C545.316 1100 639 1193.68 639 1309.25V1309.25C639 1424.82 545.316 1518.5 429.75 1518.5H215.5C99.7964 1518.5 6 1612.3 6 1728V1728C6 1843.7 99.7964 1937.5 215.5 1937.5H482.5C568.933 1937.5 639 2007.57 639 2094V2094" stroke="#2FA63B" stroke-width="10"/>
    </svg>
</div><!-- END OF Line-Container -->
<div class="page-wrapper">
    <div class="x-container app__description">
        <div class="app__first-description-img">
            <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
            <div th:if="${param.logout}" class="logoutMessage">You been logged out</div>
            <div class="app__first-description-overlay">
                <div class="app__description-aboutUs">
                    <div class="adventure-description-container">
                        <h3 class="adventure-description">Your adventure awaits</h3>
                    </div><!-- END OF adventure-description-container -->
                </div><!-- END OF app__description-aboutUs -->
            </div> <!-- END of app__first-description-overlay-->
        </div> <!-- END OF app__first-description-img-->

        <div class="app__second-step">

            <div class="app__second-step-1">
                <div class="app__second-description-step-1">
                    <div class="app__second-description-img-1">
                        <img class="iphone-step-1"th:src="@{img/iphone14.png}">
                    </div>
                </div><!-- END OF app__second-description-step-1-->
                <div class="app__second-step-1_description">
                    <div class="x-card-1">
                        <div class="x-card-body-1">
                            <div class="x-step-1">Step 1</div>
                            <p class="x-card-text-1">Create your Travel-Bros account!</p>
                        </div>
                    </div><!-- END OF X-CARD-1-->
                </div><!-- END OF app__second-step-1_description-->
            </div><!-- END OF STEP 1 -->
            <div class="app__second-step-2">
                <div class="app__second-step-2_description">
                    <div class="x-card-1">
                        <div class="x-card-body-2">
                            <div class="x-step-2">Step 2</div>
                            <p class="x-card-text-2">Add vehicle information! You will need your Tanksize and MPG to get the best estimates for trip cost!</p>
                        </div>
                    </div><!-- END OF X-CARD-2-->
                </div><!-- END OF app__second-step-2_description-->
                <div class="app__second-description-step-2">
                    <div class="app__second-description-img-2">
                        <img class="iphone-step-2"th:src="@{img/iphone14.png}">
                    </div>
                </div><!-- END OF app__second-description-step-1-->
            </div><!-- END OF STEP 2 -->
            <div class="app__second-step-3">
                <div class="app__second-description-step-3">
                    <div class="app__second-description-img-3">
                        <img class="iphone-step-3"th:src="@{img/iphone14.png}">
                    </div>
                </div><!-- END OF app__second-description-step-1-->
                <div class="app__second-step-3_description">
                    <div class="x-card-3">
                        <div class="x-card-body-3">
                            <div class="x-step-3">Step 3</div>
                            <p class="x-card-text-3">Create a trip! Use the "Your Trip" button to get the distance, and then click "Make your Trip" to view the Budget Breakdown!</p>
                        </div>
                    </div><!-- END OF X-CARD-1-->
                </div><!-- END OF app__second-step-1_description-->
            </div><!-- END OF STEP 1 -->
        </div><!-- END OF app__second-description-->
    </div><!-- END OF x-container app__description -->
    <link rel="stylesheet" th:href="@{/css/splash_page.css}">
    <script th:src="@{/js/splash_page_test.js}"></script>
    <div th:replace="partials/footer_partials.html :: footer"></div>
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
</div><!-- END OF PAGE WRAPPER -->
</body>
</html>
