<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <!-- favicon -->
    <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/splash_page_line.css">
    <!--    <link rel="stylesheet" th:href="@{/css/navbar_partials.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/global_travel.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/Footer.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/splash_page_line.css}">-->
</head>
<body>
    <div class="line-container">
        <svg viewBox="0 0 340 2094" fill="none" preserveAspectRatio="xMidYMax meet">
            <path d="M339.5 0V322.25C339.5 415.724 263.724 491.5 170.25 491.5V491.5C76.7758 491.5 1 567.276 1 660.75V899.5V930.75C1 1024.22 76.7758 1100 170.25 1100V1100C263.724 1100 339.5 1175.78 339.5 1269.25V1349.25C339.5 1442.72 263.724 1518.5 170.25 1518.5V1518.5C76.7758 1518.5 1 1594.28 1 1687.75V1768.25C1 1861.72 76.7758 1937.5 170.25 1937.5H183C269.433 1937.5 339.5 2007.57 339.5 2094V2094" stroke="black"/>
        </svg>
    </div>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>
    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>    <h1>
        <div>
            Hello
        </div>
    </h1>
    <div th:replace="partials/footer_partials.html :: footer"></div>
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
    <script src="../../static/js/splash_page_test.js"></script>
</body>
</html>
