<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Landing Page</title>
        <!-- favicon -->
        <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/navbar_partials.css}">
        <link rel="stylesheet" th:href="@{/css/splash_page.css}">
    </head>
    <body>
    <div class="page-wrapper">
        <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
        <div th:if="${param.logout}" class="logoutMessage">You been logged out</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h3>Your adventure awaits Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, error, ex facere modi numquam quo quod, saepe sapiente soluta temporibus veniam vitae. Aspernatur consequuntur necessitatibus nemo nihil odit quibusdam quidem.</h3>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque dignissimos distinctio enim et fugiat fugit modi molestiae nemo quaerat. Ab, ad aperiam dolores eos ex nulla pariatur provident vel.</h3>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="kingKaiPlanet">
                        <iframe src='https://my.spline.design/planet-ad96d8e81eec4920efc2e1d7620a5fe3/' frameborder='0' width='600' height='600'></iframe>
                    </div>
                    <div class="testButton"></div>
                </div>
            </div>
        </div>
    </div> <!-- END OF PAGE WRAPPER -->
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
    </body>
</html>