<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Your Vehicles')"></head>
<head>
    <link rel="stylesheet" th:href="@{css/vehicle_page.css}">
    <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="icon" type="img/x-icon" th:href="@{/img/Travel-Bros-Logo.png}">
    <link rel="stylesheet" th:href="@{/css/404.css}">


</head>
<body>
<div class="page-wrapper-404">
    <a class="home-link"th:href="@{/}">Go back home</a>
</div>
</body>
</html>