.jeepInSandImg {
    width: 100%;
    height: 82vh;
    object-fit: fill;
}

.vehicleYear {
    width: 35%;
}

.addVehicleSubmit {
    width: 35%;

}

.imgWrapper {
    padding: 0;
}

@media screen and (max-width: 700px) {
    .jeepInSandImg {
        display: none;
    }
    #vehicle-year{
        padding: 2px 100px;
    }
    .addVehicleSubmit {
        width: 150px;
    }
}