
#backButton {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    background-color: #2eacd1;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 10px 30px;
}

/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/

/*.invisible {*/
/*    display: none;*/
/*}*/
/*.chart{*/
/*    position: absolute;*/
/*}*/

/*.chart__overlay {*/
/*    position: relative;*/
/*    justify-content: space-between;*/
/*    flex-direction: row;*/
/*    display: flex;*/
/*    inset:0;*/
/*}*/

/*.chart__content{*/
/*    flex: 1;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.hiddenDivLeft {*/
/*    margin-top: 470px;*/
/*    height: 40px;*/
/*    width: 74px;*/
/*    position: absolute;*/
/*    z-index: 1500;*/
/*    background-color: white;*/
/*}*/

/*.hiddenDivRight {*/
/*    position: absolute;*/
/*    !*display: flex;*!*/
/*    height: 40px;*/
/*    width: 74px;*/
/*    z-index: 1500;*/
/*    background-color: white;*/
/*}*/
/*#listOfCaclulatorData {*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    z-index: 1500;*/
/*}*/

/*.container__2 {*/
/*    display: flex;*/

/*}*/

/*.recalculate-button {*/
/*    z-index: 2000;*/
/*}*/

/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/

.page-wrapper {
    width: 100vw;
    /*height: 100vh;*/
}

.calc-title {
    margin-top: 1.25rem;
    text-align: center;
}

/*.recalculate-button-main {*/
/*    top: 10rem;*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.x-col {
    position: relative;
}

.app__chart{
    position: relative;
    width: 100vw;
}
.totalBalance {
    display: flex;
    left: 45%;
    top: 45%;
    position: absolute;
}
.chart {
    position: relative;
}

/*For budget format*/
.container__2 {
    display: flex;
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;

}

.x-budget-section{
    /*display: flex;*/

}

.maxBudget{
    text-align: center;
}

.rest_of_Expenses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recalculate-button-main {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.continue-button-main {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.backButton-main {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.continue-button{
    width: 40%;
    padding: 10px 20px;
    color: black;
    border-color:black;
    cursor: pointer;
}
.recalculate-button{
    width: 40%;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

h4 {
    text-align: center;
}

.miscExp{
    margin: 0rem 4rem;
}

/*/////////////////////*/

@media screen and (max-width: 700px) {
    .rest_of_Expenses{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /*margin-top: 2rem;*/
    }
    .totalBalance{
        left: 38%;
    }

    .miscExp{
        margin: 1rem auto;

    }
    /*#backButton {*/
    /*    margin-left: 11rem;*/
    /*}*/


}









#chartContainer {
    /*position: absolute;*/
    /*display: flex;*/
}

/*.maxBudget {*/
/*    position: absolute;*/
/*}*/

/*.miscExp {*/
/*    top: 70px;*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


/*@media screen and (max-width: 700px) {*/
/*    .x-col {*/
/*        width: 530px;*/
/*        top: 800px;*/
/*        left: 90px;*/
/*    }*/
/*    #chartContainer {*/
/*        width: 20%;*/
/*    }*/
/*    .canvasjs-chart-canvas {*/
/*        width: 300px;*/
/*        height: 300px;*/
/*    }*/
/*    .calc-title {*/
/*        padding-left: 90px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1260px){*/
/*    .chart {*/
/*        margin-left: 600px;*/
/*    }*/
/*    .miscExp {*/
/*        top: 110px;*/
/*    }*/
/*    .x-col {*/
/*        left: 170px;*/
/*        top: 352px;*/
/*    }*/
/*}*/