.navButtonWrapper {
    display: flex;
    margin: 0 5px;
}

.stretch-wrapper {
    width: max-content;
    flex-grow: 1;
    padding: 0;
}

.loginWrapperDN {
    display: flex;
    justify-content: end;
}
.joinNowButton {
    width: 100px;
    padding: 0.3125rem 0;
    margin-right: 5px;
}
.signInButton, .navButton {
    width: 100px;
    padding: 0.3125rem 0;
    margin-bottom: 3px;
}
@media only screen and (max-width: 414px) {
    .signInButton, .navButton, .profileButton, tripsButton {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        padding: 0;
    }
}
/*Iphone*/
@media only screen and (max-width: 980px) {

    .registration-card {
        margin-left: 50px;
    }
    .loginWrapperDN>ul {
        width: 100%;
    }
    .loginWrapperDN {
        display: flex;
        justify-content: center;
        /*width: 100%;*/
    }
    .joinNowButton {
        margin-bottom: 3px;
        width: 100%;
    }
    .signInButton, .navButton, .profileButton, tripsButton {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        padding: 0;
    }
}
/* Desktop */
@media screen and (max-width: 1440px){

}
