@font-face {
    font-family: AWAKENNING;
    src: url("../fonts/Awakenning.ttf");
}
.page-wrapper {
    width: 100vw;
    height: 100vh;
}
.app__description {
    position: relative;
    width: 100%;
}
.app__first-description-img {
    width: 100%;
    height: 110vh;
    /*object-fit: fill;*/
    position: relative;
    background-image: url("../img/landscape_edits.jpg");
    background-position: center;
    background-size: cover;
}
.app__first-description-overlay {
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
}
.app__description-aboutUs{
    justify-content: center;
    display: flex;
    z-index: 100;
}
.adventure-description {
    padding: 3rem;
    font-family: AWAKENNING;
    font-size: 8rem;
    color: #ffff;
    z-index: 100;
    position:relative;
    top: 2rem;
}


.app__second-description {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
    display: flex;
}

.adventure-description-container{
    margin-top: 10rem;
}

.app__description-logo {
    margin-top: 6rem;
}
.kingKaiPlanet {
    display: flex;
    position: absolute;
}
.testButton {
    background-color:#ffff;
    margin-left: 400px;
    display: flex;
    position: relative;
    z-index: 3;
    height: 80px;
    width: 200px;
    padding-right: 56px;
    padding-left: 0px;
    top:510px;
}

.iframe {
    width: 600px;
    height: 600px;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
.logoutMessage {
    display: flex;
    justify-content: end;
    margin-right: 60px;
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
}
/* /////////////// */
/*  Media Queries  */
/* ///////////// */

@media only screen and (max-width: 650px) {
    .signIn-card {
        margin-left: 50px;
    }
    .registration-card {
        margin-left: 50px;
    }
    .loginWrapperDN>ul {
        width: 100%;
    }
    .loginWrapperDN {
        display: flex;
        justify-content: center;
        /*width: 100%;*/
    }
    .joinNowButton {
        margin-bottom: 3px;
        width: 100%;
    }
    .signInButton, .navButton, .profileButton, tripsButton {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        padding: 0;
    }
}

/* Display none on smaller px */
@media screen and (max-width: 700px) {
    .signIn-card {
        margin-left: 50px;
    }
    .kingKaiPlanet{
        display: none;
    }

}

