@font-face {
    font-family: AWAKENNING;
    src: url("../fonts/Awakenning.ttf");
}
.page-wrapper {

}
.app__description {
    position: relative;
    width: 100%;
}
.app__first-description-img {
    width: 100%;
    height: 110vh;
    /*object-fit: fill;*/
    position: relative;
    background-image: url("../img/landscape_edits.jpg");
    background-position: center;
    background-size: cover;
}
.app__first-description-overlay {
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
}
.app__description-aboutUs{
    /*justify-content: center;*/
    /*display: flex;*/
    z-index: 100;
    position: relative;
    width: 100vw;
}
.adventure-description{
    padding: 3rem;
    font-family: AWAKENNING;
    font-size: 8rem;
    color: #ffff;
    z-index: 100;
    position:relative;
    top: 2rem;
}

/*////////////////////////*/
    /*For the slider*/
/*/////////////////////////*/

.app__second-description {
    /*height: 100vh;*/
    width: 100%;
    position: relative;
    /*z-index: -1;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem 0 4rem 6rem;
}

.app__second-description-slider{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    position: relative;
}

.app__second-description-slider_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    /*margin: 2rem 0rem;*/
    justify-content: space-between;
    flex-wrap: wrap;
    /*overflow-x: scroll;*/
    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/
}

.app__second-description-img{}




/*.app__second-description-slider_container::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/

/*////////////////////////////*/
/*CSS for the individual Cards*/
/*////////////////////////////*/

.x-card {
    width: 18rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.x-step {
    background-color: black;
    color: white;
    padding: 0.5rem;
    width: 75%;

}

.x-card-header {
    background-color: #f7f7f7;
    padding: 1rem;
    text-align: center;
}

.x-card-body {
    padding: 1rem;

}

.x-card-title {
    margin-bottom: 0.5rem;
}

.adventure-description-container{
    margin-top: 10rem;
    display:flex;
    justify-content: center;
}
.app__description-logo {
    margin-top: 6rem;
}
.kingKaiPlanet {
    display: flex;
    position: absolute;
}
.testButton {
    background-color:#ffff;
    margin-left: 400px;
    display: flex;
    position: relative;
    z-index: 3;
    height: 80px;
    width: 200px;
    padding-right: 56px;
    padding-left: 0px;
    top:510px;
}

.iframe {
    width: 600px;
    height: 600px;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
.logoutMessage {
    display: flex;
    justify-content: end;
    margin-right: 60px;
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
}
/* /////////////// */
/*  Media Queries  */
/* ///////////// */

@media screen and (max-width: 1260px){

}

@media only screen and (max-width: 650px) {
    .adventure-description {
        font-size: 6rem;
    }
    .app__second-description-img img{
        width: 230px;
        height: 490px;
    }
    .signIn-card {
        margin-left: 50px;
    }
    .registration-card {
        margin-left: 50px;
    }
    .loginWrapperDN>ul {
        width: 100%;
    }
    .loginWrapperDN {
        display: flex;
        justify-content: center;
        /*width: 100%;*/
    }
    .joinNowButton {
        margin-bottom: 3px;
        width: 100%;
    }
    .signInButton, .navButton, .profileButton, tripsButton {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        padding: 0;
    }

    .app__second-description {
        /*height: 100vh;*/
        /*width: 100%;*/
        /*position: relative;*/
        /*z-index: -1;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*display: flex;*/
        flex-direction: column;
        justify-content: space-around;
        /*padding: 2rem 0 2rem 2rem;*/
        padding: 0;
    }

    .app__second-description-slider_container {
        /*display: flex;*/
        flex-direction: column;
        /*width: max-content;*/
        /*margin: 2rem 0rem;*/
        justify-content: space-between;
        flex-wrap: wrap;
        /*overflow-x: scroll;*/
        /*-ms-overflow-style: none;*/
        /*scrollbar-width: none;*/
        margin: auto;
    }

    .app__second-description-img{
        margin: auto;
    }
}

/* Display none on smaller px */
@media screen and (max-width: 700px) {
    .signIn-card {
        margin-left: 50px;
    }
    .kingKaiPlanet{
        display: none;
    }
    .adventure-description {
        justify-content: center;
    }
}

