form {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    /*background-color: #f9f9f9;*/
    /*border: .1rem solid black;*/
    /*border-radius: 20px;*/
}

.x-img-background{
    object-fit: fill;
    background-image: url("../img/snowy-forest.jpg");
    background-position: center;
    background-size: cover;
}

.x-img-background-2{
    object-fit: fill;
    background-image: url("../img/snowy-forest.jpg");
    background-position: center;
    background-size: cover;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

form > button {
    width: 100%;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.button-1{
    margin-bottom: 20px;
}

.button-2{
    margin-top: 20px;
}

.button-form{
    width: 100%;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}




input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: 2px solid black;
}

input[type="submit"]:hover {
    background-color: black;
}

.form__title{
    margin: 20px auto;
}

.form__title-htag{
    text-align: center;
}

/*//////////////////*/
/* Google Maps CSS */
/*//////////////////*/

.googleMap {

    margin: 2rem auto;
    width: 90%;
}

.x-img-background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-img-background h3 {
    color: white;
}

.x-img-background-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-img-background-2 h3 {
    color: white;
}

/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.container > * {*/
/*    flex: 1;*/
/*    margin: 10px;*/
/*}*/
