/*body {*/
/*    background-color: black;*/
/*}*/

/* ################################################################################################################ */
/* ########################################## app__vehicle-1 ###################################################### */
/* ################################################################################################################ */
@font-face {
    font-family: AWAKENNING;
    src: url("../fonts/Awakenning.ttf");
}


.app__vehicle-img{
    width: 100%;
    height: 35rem;
    position: relative;
    object-fit: fill;
    background-image: url("../img/vehicle-on-mountain-ss.png");
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.vehicle-list-text {
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;
    padding-right: 4rem;
    font-family: AWAKENNING;
    font-size: 5rem;
    color: #ffffff;
    z-index: -1;
    position:relative;
    top: 8rem;
}

.buttonInVehicleImgDiv {
    display: flex;
    justify-content: flex-end;
    padding-top: 12rem;
    padding-right: 4rem;
}

.add-new-vehicle-button {
    padding-top: .75rem;
    padding-left: .75rem;
    /*width: 50%;*/
    font-family: AWAKENNING;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    z-index: 2000;
    transition: 0.5s;
}

.add-new-vehicle-button:hover {
    background-color: #009600;
    color: white;
    border-radius: 20px;
}

/*.app__vehicle-1 {*/
/*    margin: 0.188rem;*/
/*    display: flex;*/

/*}*/

/*#add-vehicle-button-wrapper {*/
/*    display: flex;*/
/*    margin: auto;*/
/*    justify-content: center;*/
/*    font-size: 30px;*/
/*    height: 30%;*/
/*    width: 80%;*/
/*}*/
/*#add-vehicle-button-wrapper button {*/
/*    width: 100%;*/
/*    border-radius: 12px;*/
/*}*/

/*.app__vehicle-1 :not {*/
/*    width: 100%;*/
/*    margin: 0.188rem;*/
/*    height: 110vh;*/
/*    !*object-fit: fill;*!*/
/*    position: relative;*/
/*    background-image: url("../img/mason-car.png");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/



/* ################################################################################################################ */
/* ########################################## app__vehicle-2 ###################################################### */
/* ################################################################################################################ */

.app__vehicle-2 {
    /*margin: 0.188rem;*/
    display: flex;
    justify-content: space-evenly;


}


.vehicle-card {
    text-align: center;
    border: solid black 0.125rem;
    border-radius: 0.5rem;
    width: 300px;
    height: fit-content;
    padding: .35rem;
    margin: 0.5rem;
}

.vehicle-card button {
    margin: 0.5rem 0;
    width: 80%;
}

.vehicle-card>p {
    margin: 0.5rem 0;
}


/* ################################################################################################################ */
/* ########################################## app__vehicle-3 ###################################################### */
/* ################################################################################################################ */