<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{css/main_page.css}">
  <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
  <link rel="stylesheet" th:href="@{/css/Footer.css}">
  <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
</head>
<body>
  <!-- page-wrapper -->
  <div class="page-wrapper">
    <div class="app__aboutUs-1">
      <div sec:authorize="isAnonymous()">
        <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
      </div>
      <div sec:authorize="isAuthenticated()">
        <nav th:replace="partials/navbar-auth.html :: site-bar"></nav>
      </div>
    </div>

    <div class="app__aboutUs-2">
        <h1 class="tbd">The Travel-Bros Developers</h1>
      <div class="app__aboutUs-cards app__wrapper-aboutUs">
        <div class="x-card">
          <img th:src="@{/img/danny-nft.jpg}" alt="Card Image" class="card-image">
          <div class="card-content">
            <h2 class="card-title">Danny Nguyen</h2>
          </div>
        </div>
        <div class="x-card">
          <img th:src="@{/img/exabiier-nft.png}" alt="Card Image" class="card-image">
          <div class="card-content">
            <h2 class="card-title">Exabiier Bars</h2>
          </div>
        </div>
        <div class="x-card">
          <img th:src="@{/img/john-nft.png}" alt="Card Image" class="card-image">
          <div class="card-content">
            <h2 class="card-title">John Pedrotti</h2>
          </div>
        </div>
        <div class="x-card">
          <img th:src="@{/img/mason-nft.png}" alt="Card Image" class="card-image">
          <div class="card-content">
            <h2 class="card-title">Mason Wudtee</h2>
          </div>
        </div>
      </div><!--END OF app__home-cards -->


    </div>



    <div th:replace="partials/footer_partials.html :: footer"></div>
    <div th:replace="partials/scripts-partials :: scripts"></div>
  </div>
  <!-- End page-wrapper -->
</body>
</html>