<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{css/main_page.css}">
        <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
        <link rel="stylesheet" th:href="@{/css/Footer.css}">
        <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
    </head>
    <body>
    <div class="page-wrapper">
        <div class="app__home-page-1">
            <nav th:replace="partials/navbar-auth.html :: site-bar"></nav>
            <div class="app__home-page-img">
                <h3 class="home-page-text">Plan your next adventure!</h3><br>
<!--                <button class="addTripButton">Add Trip</button>-->
            </div><!-- app__home-page-img -->
        </div><!-- END OF HOME PAGE 1 -->
        <div class="app__home-page-2 section__padding">
            <div class="app__home-cards app__wrapper">
                <div class="x-card">
                    <img th:src="@{/img/bali.jpg}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Bali</h2>
                    </div>
                </div>
                <div class="x-card">
                    <img th:src="@{/img/SanFran.png}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">San Francisco</h2>
                    </div>
                </div>
                <div class="x-card">
                    <img th:src="@{/img/NewYork.jpeg}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">New York</h2>
                    </div>
                </div>
                <div class="x-card">
                    <img th:src="@{/img/Utah.png}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Utah</h2>
                    </div>
                </div>
                <div class="x-card">
                    <img th:src="@{/img/Yosemite.png}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Yosemite</h2>
                    </div>
                </div>
                <div class="x-card">
                    <img th:src="@{/img/RockyMountain.png}" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Rocky Mountain</h2>
                    </div>
                </div>
            </div><!--END OF app__home-cards -->
        </div><!-- END OF app__home-page-2-->
        <div th:replace="partials/footer_partials.html :: footer"></div>
        <div th:replace="partials/scripts-partials :: scripts"></div>
    </div> <!-- END OF PAGE WRAPPER -->
    </body>

</html>