<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{css/navbar_partials.css}">


    </head>
    <body>
    <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
    <h1> This is the DASHBOARD!!!</h1>

    <div th:replace="partials/scripts-partials :: scripts"></div>
    </body>
</html>