<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Add a Vehicle')">
</head>
<head>
    <script th:src="@{/js/xml2json.min.js}"></script>
    <script th:src="@{/js/useState.js}"></script>
    <script th:src="@{/js/vehical.js}"></script>
    <link rel="stylesheet" th:href="@{/css/trip_planner.css}">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{/css/add_vehicle.css}">
    <link rel="icon" type="img/x-icon" th:href="@{/img/Travel-Bros-Logo.png}">


</head>
<body>
<nav th:replace="partials/navbar-auth.html :: site-bar"></nav>

<div class="page-wrapper-add-vehicle">


    <div class="container-fluid">
        <div class="row">
                <!--                    <div class="row">-->
                <div class="col-6">
                    <div th:if="${currentUser.getUserVehicles().size() == 0}" >
                        <h1>Please enter your vehicle information to continue!</h1>
                    </div> <!-- end of conditional div if no vehicles exist -->
                    <div class="vehicleFormWrapper">
                        <form th:object="${vehicle}" th:method="post" th:action="@{/vehicles/create}">
                        <div  th:data="user-vehicle-input">
                            <div class="vehicleMake">
                                <label for="vehicle-make" class="stretch-wrapper">Vehicle Name:</label>
                                <input th:field="${vehicle.make}" id="vehicle-make">
                            </div>
                            <!--                    <div class="col-6">-->
                            <!--                        <label for="vehicle-model" class="stretch-wrapper">Vehicle Model:</label>-->
                            <!--                        <input th:field="${vehicle.model}" id="vehicle-model">-->
                            <!--                    </div>-->
                            <div class="vehicleMPG">
                                <label for="vehicle-mpg" class="stretch-wrapper">Vehicle MPG:</label>
                                <input th:field="${vehicle.mpg}" id="vehicle-mpg">
                            </div>
                            <div class="vehicleTankSize">
                                <label for="vehicle-tank-size" class="stretch-wrapper">Vehicle Tank Size:</label>
                                <input th:field="${vehicle.tankSize}" id="vehicle-tank-size">
                            </div>
                            <div class="vehicleYear">
                                <label for="vehicle-year" class="stretch-wrapper">Vehicle Year:</label>
                                <input type="text" th:field="${vehicle.year}" id="vehicle-year">
                            </div>
                            <div class="addVehicleSubmit">
                                <label for="submit-vehicle"></label>
                                <input id="submit-vehicle" value="Add vehicle" type="submit">
                            </div>
                            <!--                    <button type="button"  id="get-vehical"> Add your Vehical!</button>-->
                        </div>
                        </form><!-- End form -->
                    </div>
                </div>



                <!--                    </div> &lt;!&ndash; End row (row1)&ndash;&gt;-->

                <!--            <div class="row">-->
                <!--                <div class="col-6">-->
                <!--                    <label for="cancel-vehicle"></label>-->
                <!--                    <input id="cancel-vehicle" value="Cancel" type="reset">-->
                <!--                </div>-->

            <!--            </div> &lt;!&ndash; End Cancel / Submit row (row2)  &ndash;&gt;-->




            <div class="imgWrapper col-6">
                <!--                        <h1>ICON COMING SOON</h1>-->
                <img class="jeepInSandImg" th:src="@{/img/jeep-on-sanddunes.png}">
            </div>
        </div>

    </div>


</div> <!-- End page-wrapper -->
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
    <div th:replace="partials/footer_partials.html :: footer"></div>

    <!--    <script th:src="@{/js/xml2json.min.js}"></script>-->
<!--    <script th:src="@{/js/useState.js}"></script>-->
<!--    <script th:src="@{/js/vehical.js}"></script>-->
</body>
</html>