<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Your Vehicles')"></head>
<head>
    <link rel="stylesheet" th:href="@{css/vehicle_page.css}">
    <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">


</head>
<body>

<section class="vehicle-list-img-section">
<nav th:replace="partials/navbar-auth.html :: site-bar"></nav>

<div sec:authorize="isAuthenticated()">
    <div class="vehicleImgParent">
        <div class="app__vehicle-img">
            <h3 class="vehicle-list-text"><span th:text="${currentUser.username.toUpperCase()} "></span>Vehicles</h3>
            <div class="buttonInVehicleImgDiv" id="add-vehicle-button-wrapper">
                <button class="add-new-vehicle-button" id="addVehicleButton">Add vehicle ↠</button>
            </div>
        </div>
    </div>
</div>
</section>

    <div class="page-wrapper">



        <!-- app__vehicle-1 -->
<!--        <div class="app__vehicle-1">-->
<!--            <div id="add-vehicle-button-wrapper">-->
<!--                <button type="button" class="add-new-vehicle">Add a new vehicle</button>-->
<!--            </div>-->
<!--        </div>-->
        <!-- End app__vehicle-1 -->

        <!-- app__vehicle-2 -->
        <div class="app__vehicle-2">
            <div class="vehicle-card-container">


            </div>


            <!-- vehicle-card -->
            <div class="vehicle-card" th:each="vehicle : ${allVehicles}">

                <h5 th:text="${vehicle.getMake()}"></h5>
                <p th:text="${vehicle.getModel()}"></p>
                <p th:text="${vehicle.getYear()}"></p>
                <p th:text="${vehicle.getMpg()}"></p>
                <p th:text="${vehicle.getTankSize()}"></p>

                <!-- edit/delete vehicle buttons -->
                <div>
                    <button th:data-id="${vehicle.id}" class="editVehicleButton">Edit</button>
                    <button th:data-id="${vehicle.id}" class="deleteVehicleButton">Delete</button>
                </div>
                <!-- End edit/delete vehicle buttons -->
            </div>
            <!-- End vehicle-card -->
        </div>
        <!-- End app__vehicle-2 -->

        <!-- app__vehicle-3 -->
        <div class="app__vehicle-3">

        </div>
        <!-- app__vehicle-3 -->


    </div>

    <div th:replace="partials/footer_partials.html :: footer"></div>
    <div th:replace="partials/scripts-partials.html :: scripts"></div>
</body>
</html>