<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Your Vehicles')"></head>
<head>
  <link rel="stylesheet" th:href="@{/css/trip_planner.css}">
  <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
</head>
<body>
  <nav th:replace="partials/navbar-auth.html :: site-bar"></nav>

  <form th:action="@{|/vehicles/${id}/edit|}" th:method="post" class="w-100 mx-auto" th:object="${vehicle}">
    <div class="w-100">
      <label for="make" class="form-label">Vehicle Make: </label>
      <input th:field="*{make}" id="make" name="username" type="text" class="form-control w-100 shadow-none focus-field" autocomplete="off">
    </div>
    <div class="w-100">
      <label for="year" class="form-label">Vehicle Year: </label>
      <textarea th:field="*{year}" id="year" name="password" rows="1" class="form-control w-100 shadow-none"></textarea>
    </div>
    <div class="w-100">
      <label for="model" class="form-label">Vehicle MPG: </label>
      <textarea th:field="*{mpg}" id="model" name="email" rows="1" class="form-control w-100 shadow-none"></textarea>
    </div>
    <div class="w-100">
      <label for="tankSize" class="form-label">Vehicle Tank Size: </label>
      <textarea th:field="*{tankSize}" id="tankSize" name="password" rows="1" class="form-control w-100 shadow-none"></textarea>
    </div>
    <div class="w-100 mt-4">
      <input type="submit" value="Submit" class="form-control w-100 shadow-none" id="btn">
    </div>
  </form>

  <div th:replace="partials/scripts-partials.html :: scripts"></div>
</body>
</html>