<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{css/navbar_partials.css}">
        <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
        <script th:src="@{/js/traveling.js}"></script>
        <link rel="stylesheet" href="../../static/css/chartjs.css">
        <meta charset="UTF-8">
        <title>Final Budget</title>
    </head>
    <body>
    <div class="page-wrapper">
        <div class="app__chart">
            <div></div>
            <div class="app__chart-showChart">
                <div id="chartContainer" style="height: 500px; width: 100%;">
                    <div>
                    </div>
                </div>
            </div><!-- END OF ROW -->
        </div><!-- END OF CONTAINER -->
    </div><!-- END OF PAGE-WRAPPER -->
    <button class="btn invisible" id="backButton"><Back</button>
    <script th:src="@{/js/traveling.js}"></script>
    <script src="../../static/js/chart.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <div id="dataFromUser" data-misc-Expense="300" data-budget="3000" data-gas="250" ></div>

<!--    <div id="dataFromUser2" th:attr="data-gas-tank=${trip.vehicle.gas_tank}"></div>-->

    <script src="../../static/js/traveling.js"></script>
    </body>
</html>
