<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('test-comments')">
</head>
<head>
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{/css/comments.css}">
    <link rel="stylesheet" th:href="@{/css/trip_planner.css}">

</head>

<body>
<nav th:replace="partials/navbar-auth.html :: site-bar"></nav>

<section>

    <div class="page-wrapper">
        <div class="commentCard container-x">
            <div class="commentCardContainer row">
                <div class="comment col-6">
                    <h1>Your trip to <span th:text="${endPoint}"></span></h1>
                    <h3 class="text-center addNoteTitle" id="form-title">Add a Note</h3>
                    <div class="form-wrapper">
                        <form th:action="@{|/comments/${trip.id}/create|}" th:method="post" class="w-100 mx-auto" th:object="${comment}">
                            <div class="w-100">
                                <label for="body" class="form-label">Note: </label>
                                <textarea placeholder="Add a note to your trip" th:field="${comment.body}" id="body" name="comment" rows="6" class="form-control shadow-none focus-field"></textarea>
                            </div>
                            <div class="w-100 mt-4">
                                <input type="submit" value="Submit" class="note-btn" id="btn">
                            </div>
                        </form>
                    </div>
                </div><!-- END OF COMMENT div -->
                <div class="imgWrapper col-6">

                        <img class="campfireNightImg" th:src="@{/img/sitting-by-campfire-ss.png}">

                </div><!-- END OF IMGWRAPPER div -->
            </div><!-- END OF COMMENT CARD CONTAINER  row-->
        </div><!-- END OF COMMENT CARD -->
    </div>

</section>
<div th:replace="partials/footer_partials.html :: footer"></div>

<div th:replace="partials/scripts-partials.html :: scripts"></div>


</body>

</html>