<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
<!--    <div th:replace="partials/partials :: head-fragment('Login')"></div>-->
<!--    <link rel="stylesheet" th:href="@{/css/form.css}">-->
</head>
<body>
<!--<nav th:replace="partials/partials :: navbar"></nav>-->
<main>
    <h1 class="text-center" id="form-title">Log In</h1>
    <div class="form-wrapper">
        <form th:action="@{/login}" th:method="post" class="w-100 mx-auto">
            <div class="w-100">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" type="text" class="form-control w-100 shadow-none focus-field" autocomplete="off">
            </div>
            <div th:if="${param.error}" class="username-error">
                Invalid Username
            </div>
            <div class="w-100">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" class="form-control w-100 shadow-none">
            </div>
            <div th:if="${param.error}" class="password-error">
                Invalid password
            </div>
            <div class="w-100 mt-4">
                <input type="submit" value="Log In" class="form-control w-100 text-white shadow-none" id="btn">
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
        </form>
    </div>
</main>
<!--<footer th:replace="partials/partials :: footer-fragment"></footer>-->
<!--<div th:replace="partials/partials :: scripts"></div>-->
</body>
</html>