<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Profile')">
</head>
<head>
    <link rel="stylesheet" th:href="@{css/profile_page.css}">
    <link rel="stylesheet" th:href="@{css/navbar_auth.css}">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="icon" type="img/x-icon" th:href="@{/img/Travel-Bros-Logo.png}">

</head>
<body>
    <nav th:replace="partials/navbar-auth :: site-bar"></nav>

    <div sec:authorize="isAuthenticated()">
        <div class="imgParent">
            <div class="app__profile-page-img">
                <h3 class="profile-page-text">Welcome &nbsp;<span th:text="${currentUser.username.toUpperCase()}"></span></h3>
                <div class="buttonInImgDiv">
                    <button id="tripsButton">Plan your next adventure ↠</button>
                </div>
            </div>
        </div>
    </div>

<!--    <span th:text="${#lists.sort(currentUser.id, reverse)}"/>-->
    <section class="app__profile">
        <div class="app__profile-tripCard ">
            <div class="app__profile-tripCard_container">

<!--                    <button id="tripsButton">Start a new trip!</button>-->

                <h1>Your Trips:</h1>
                <div class="indivTripCard row" th:each="i : ${#numbers.sequence(currentUser.trips.size() - 1, 0, -1)}">
<!--                            information for trip-->
                    <div class="col-4">

                        <!--                        <h5>Id:&nbsp;<span th:text="${currentUser.trips[i].getId()}"></span></h5>-->
                        <h5>Start Point:&nbsp;<span th:text="${currentUser.trips[i].getStartPoint()}"></span></h5>
                        <h5>End Point:&nbsp;<span th:text="${currentUser.trips[i].getEndPoint()}"></span></h5>
                        <h5>Distance:&nbsp;<span th:text="${currentUser.trips[i].getDistance()}"></span></h5>
                        <!--        <h1>Budget:&nbsp;$<span th:text="${currentUser.trips[i].tripBudget.maxBudget}"></span></h1>-->
                        <h5>Number of Stops:&nbsp;<span th:text="${currentUser.trips[i].getStops()}"></span></h5>
                        <h5>Number of People:&nbsp;<span th:text="${currentUser.trips[i].getNumPpl()}"></span></h5>

                        <p>
                            <button th:data-id="${currentUser.trips[i].id}" class="editButton ">Edit Trip</button>

                            <button th:data-id="${currentUser.trips[i].id}" class="commentsButton ">Add Note</button>

                            <button th:data-id="${currentUser.trips[i].id}" class="deleteButton ">Delete Trip</button>
                        </p>

                        <hr class="hrLine">

                        <div class="lisOfNotesWrapper">
                            <div class="listOfNotes">
                                <div class="w-85" th:each="comment : ${currentUser.trips[i].comments}">
                                    <div class="d-flex justify-content-between notes-wrapper">
                                        <div>
                                            -<span th:text="${comment.body}"></span>
                                        </div>
                                        <div>
                                            <button th:data-id="${comment.id}" class="deleteCommentButton transparent">Delete</button>
                                        </div>
                                    </div>
        <!--                            <p>- <span> <p th:text="${comment.body}">-->
        <!--                                <button th:data-id="${comment.id}" class="deleteCommentButton ">Delete</button>-->
        <!--                            </p></span></p>-->

                                </div>
                            </div>
                        </div>
<!--                                End of information for div-->


                    </div>  <!-- div for col-6 wrapper -->

<!--                    <div class="vl"></div>-->
                    <div class="budgetMiscExpWrapper col-3">
                        <div class="indivBudgetCard ">
                            <h3>Budget:&nbsp;<span>$</span><span th:text="${currentUser.trips[i].getTripBudget.maxBudget}"></span></h3>
                            <h3>Gas:&nbsp;<span>$</span><span th:text="${currentUser.trips[i].getTripBudget.getGas()}"></span></h3>
                            <h3>Other Expenses: $<span th:text="${currentUser.trips[i].tripBudget.getMiscExpensesTotal()}"></span> </h3>

                            <button th:data-id="${currentUser.trips[i].id}" class="budgetBreakdown ">Budget Breakdown</button>
<!--                            <hr class="hrLine-2">-->
                        </div>

<!--                            <div class="listOfMiscExp" th:if="${currentUser.trips[i].tripBudget.getMiscExpenses() != null}">-->
<!--                                <div th:each="miscExpItem : ${currentUser.trips[i].tripBudget.getMiscExpenses()}">-->
<!--    &lt;!&ndash;                                <div th:if="${currentUser.trips[i].getTripBudget.getMiscExpenses().size() > 0 }">&ndash;&gt;-->
<!--                                        <h5><span th:text="${miscExpItem.getTitle()}"> </span>-->
<!--                                            <span>$</span><span th:text="${miscExpItem.getCost()}"></span></h5>-->
<!--    &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                </div>-->

<!--                            </div>-->

                    </div>
                </div>

            <!--                                <h1>Budget:&nbsp;$<span th:text="${currentUser.trips[i].tripBudget.maxBudget}"></span></h1>-->
<!--                                <h5>Number of Stops:&nbsp;<span th:text="${currentUser.trips[i].getStops()}"></span></h5>-->
<!--                                <h5>Number of People:&nbsp;<span th:text="${currentUser.trips[i].getNumPpl()}"></span></h5>-->
                    </div>   <!-- end of app__profile-tripCard_container row div -->

                </div>


            <br>

<!--end of card -->


        </div>
        </div>


    </section><!-- END OF SECTION -->

    <div th:replace="partials/footer_partials.html :: footer"></div>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <div th:replace="partials/scripts-partials.html :: scripts" th:remove="tag">
    </div>
    <script th:src="@{/js/budget-breakdown.js}"></script>
    <script th:src="@{/js/button-linking.js}"></script>
</body>
</html>
