<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head-partials.html :: head ('Travel Bros: Profile')">
</head>
<body>
    <nav th:replace="partials/navbar_partials.html :: site-bar"></nav>
    <div sec:authorize="isAuthenticated()">Welcome &nbsp;
        <h1 th:text="${currentUser.username}"></h1>
    </div>

<!--    <span th:text="${#lists.sort(currentUser.id, reverse)}"/>-->

    </div>
    <div th:each="i : ${#numbers.sequence(currentUser.trips.size() - 1, 0, -1)}">
        <h1>Start Point:&nbsp;<span th:text="${currentUser.trips[i].getStartPoint()}"></span></h1>
        <h1>End Point:&nbsp;<span th:text="${currentUser.trips[i].getEndPoint()}"></span></h1>
<!--        <h1>Budget:&nbsp;$<span th:text="${currentUser.trips[i].tripBudget.maxBudget}"></span></h1>-->
        <h1>Number of Stops:&nbsp;<span th:text="${currentUser.trips[i].getStops()}"></span></h1>
        <h1>Number of People:&nbsp;<span th:text="${currentUser.trips[i].getNumPpl()}"></span></h1>
        <ul>
<!--            <h1>Used Vehicle For <span th:text="${trip.getEndPoint()}"> Trip</span></h1>-->
<!--&lt;!&ndash;            <li>Make: <h3><span th:text="${trip.vehicleId.make}"></span></h3> </li>&ndash;&gt;-->
<!--            <li>Model: <h3><span th:text="${trip.vehicleId.model}"></span></h3> </li>-->
<!--            <li>year: <h3><span th:text="${trip.vehicleId.year}"></span></h3> </li>-->

        </ul>
        <div th:each="comment : ${currentUser.trips[i].comments}">
            <p th:text="${comment.body}"></p>
            <p>
                <button th:data-id="${comment.id}" class="deleteCommentButton btn btn-danger">Delete</button>
            </p>
        </div>
        <p>
            <button th:data-id="${currentUser.trips[i].id}" class="editButton btn btn-danger">Edit</button>
        </p>
        <p>
            <button th:data-id="${currentUser.trips[i].id}" class="deleteButton btn btn-danger">Delete</button>
        </p>
        <p>
            <button th:data-id="${currentUser.trips[i].id}" class="commentsButton btn btn-danger">Comment</button>
        </p>


    </div>


    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <div th:replace="partials/scripts-partials.html :: scripts" th:remove="tag">
    </div>

</body>
</html>