<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">

  <!--  <div th:replace="partials/partials :: head-fragment('Signup')"></div>-->
<!--  <link rel="stylesheet" th:href="@{/css/form.css}">-->
</head>
<body>
<!--<nav th:replace="partials/partials :: navbar"></nav>-->
<main>
  <h2 class="text-center" id="form-title">Sign Up</h2>
  <div class="form-wrapper">
    <form class="w-100 mx-auto" th:action="@{/register}" method="post" th:object="${user}">
      <div class="mb-3 w-100">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control w-100 shadow-none focus-field" id="username" th:field="*{username}" autocomplete="off">
      </div>
      <div class="mb-3 w-100">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control w-100 shadow-none" id="email" th:field="*{email}" autocomplete="off">
      </div>
      <div class="mb-3 w-100">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control w-100 shadow-none" id="password" th:field="*{password}">
      </div>
      <div class="w-100 mt-4">
        <input type="submit" value="SignUp" class="form-control w-100 text-white" id="btn">
      </div>
    </form>
  </div>
</main>
<!--<footer th:replace="partials/partials :: footer-fragment"></footer>-->
<!--<div th:replace="partials/partials :: scripts"></div>-->
</body>
</html>